@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: antiquewhite;
}


.title {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
}


.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.button {
    border: none;
    outline: none;
    background-color: #e6e6e6;
    color: #000000;
    border-radius: 4px;
    margin: 0 10px;
    padding: 6px 23px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 10px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 280px;
    width: 200px;
}

.new-season {
    position: absolute;
    top: 5px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    padding: 6px 10px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
    width: 100%;
}

.card-title {
    font-size: 16px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.website{
    font-size: 13px;
    font-weight: 500;
}

.price-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

.price-container .price{
    font-size: 16px;
    font-weight: bold;
}

.price-container .price-cross{
    font-size: 14px;
    text-decoration: line-through;
}

.price-container .discount{
    font-size: 12px;
    font-weight: bold;
    color: #ff0000;
}

.bottom-btn-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

.cart-button{
    background-color: #000000;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}

.buy-button{
    background-color: #000000;
    font-size: 10px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
}


@media screen and (min-width: 576px) {
    .title {
        font-size: 24px;
    }

    .button{
        padding: 8px 26px;
        font-size: 12px;
    }

    .card-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .card-item{
        margin-top: 0;
        margin-bottom: 30px;
        /* background-color: #000000; */
    }

    .image-container{
        width: 200px;
        height: 250px;
    }

    .new-season{
        font-size: 9px;
        padding: 5px 8px;
    }
}


@media screen and (min-width: 768px) {
    .title {
        font-size: 28px;
    }
    .card-container{
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .title {
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) {
    .title {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    .title {
        font-size: 40px;
        font-weight: bolder;
    }
}